.mrNews .causes__img img {
    width: 100% !important;
}

.mrNews .causes__img {
    display: flex;
    justify-content: center !important;
}

.mrcards {
    margin-top: 0;
}

.mrNews-Row {
    margin: 0 3rem;
}

.mrNews {
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.mrNews .causes {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mrNews .causes-meta {
    font-size: .7rem;
    font-weight: 600;
}
@media (max-width:500px) {
    .mrNews-Row {
        margin: 0;
    }
    .cap-news {
        padding: 1rem!important;
    }
}