.invest-container{
    padding: 2rem 8rem;
}
.top-invest{
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
    align-items: center;
}
.invest-cards {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 5rem;
}
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
.card-img-top {
    width: 12rem;
}
.card-body {
    text-align: center;
}
.card-title {
    font-size: 2vw;
}
.mrcards .card img{
    width: 50%;
}
.mrrow{
    display: flex; 
}
.btn-top {
    padding: 1rem 3rem;
}
.mrcards {
 margin-top: 2rem;
}
@media (max-width:992px) {
    .invest-container{
        padding: 2rem 3rem;
    }
    .top-invest {
        margin-top: 2rem;
        margin-bottom: 4rem;
    }
    .card-title {
        font-size: 2.5vw;
    }
    .card-text {
        font-size: 1.7vw;
    }

}
@media (max-width:600px) {
    .invest-container {
        padding: 2rem 1rem;
    }
    .top-invest {
        margin-top: 2rem;
        margin-bottom: 4rem;
    }
    .top-invest h1 {
        font-size: 8vw;
        width: 70%;
    }
    .mrcards .card img{
        width: 70%;
    }
    .card-title {
        font-size: 8vw;
    }
    .card-text {
        font-size: 4vw;
    }
    .btn-top {
        padding: .5rem 1rem;
    }
}