/* app section */
.fix-app-container {
    background-color: #E9E7E8;
}
.app-section {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.app-section p {
    color: #000;
}

.app-line {
    height: 2.5px;
    width: 90%;
    background-color: #000;
    margin-bottom: 4rem;
    margin-top: 3rem;
}

.apps {
    width: 90%;
    display: flex;
    margin-bottom: 2.5rem;
}

.app1 p {
    padding-right: 2rem;
}

.line1 {
    padding-right: 1rem;
}

.line {
    height: 5px;
    background-color: #19142E;
}
.line-1 .progress-bar {
    background-color: #1B70F0;
}
.line-2 .progress-bar {
    background-color: #6100B3;
}
.line-3 .progress-bar {
    background-color: #FF1849;
}

@media (max-width:992px) {
    .app-line {
        width: 85%!important;
    }
    .apps {
        flex-direction: column;
        width: 85%!important;
    }
    .line1 {
        padding-right: 0!important;
    }
    .apps p {
        font-size: 18px;
        /* padding-right: 50px; */
        line-height: 1.5;
        font-family: "Poppins", sans-serif;
        font-weight: bolder;
    }
    .app1 {
        margin-bottom: 2rem;
    }

}